body {
  background-color: #000;
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 0;
}

header {
  background-color: #111;
  padding: 15px;
}

nav a {
  color: #e50914;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h1 {
  color: #e50914;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #e50914;
}

h2 {
  color: #e50914;
  margin-top: 30px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

iframe {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border: 3px solid #e50914;
  border-radius: 10px;
}

footer {
  background-color: #111;
  padding: 15px;
  margin-top: 30px;
  color: #ccc;
}
