body{
  background-color:#7FFFD4;
  font-family:Roboto Slab;

}

img {
  width: 300px;
}

h1{
background-color:#808080;
text-align:center;
color:#696969;
font-size:50px;
font-style:italic;
margin: 20px;
padding: 10px;
}

h2{
font-weight:bold;
  text-align:center;
}

p{
font-size:18px;
}
