body{
  background-color:#1E90FF ;
  font-family:Arial ;
}
h1{
background-color:#808080;
text-align:center;
color:#696969;
font-size:50px;
font-style:italic;
}

h2{
font-weight:bold;
}

p{
font-size:18px;
}
